---
interface Props {
  id: string;
  tags: string[];
  extension: string;
}

const {id, tags, extension = "png" } = Astro.props;
---
<div class="card">
  <a href=`/${id}.${extension}`>
  {["png", "gif"].includes(extension) ?
    <img src=`/${id}.${extension}` loading="lazy" />
    :
    <video src=`/${id}.${extension}` />
  }
  </a>
  <div class="tags">
    {tags.map((tag) => <a href=`/${tag}/` class="tag">{tag}</a>)}
  </div>
</div>

<style lang="scss">
  .card {
    margin: 4px;
    padding: 4px;
    border: 1px #2F3336 solid;
    
    img, video {
      display: block;
      max-width: 100%;
    }
    .tags {
      display: inline-block;
      margin-top: 4px;
      padding: 4px 0;
      .tag {
        margin: 2px;
        padding: 0 4px;
        background: #588D3A;
        color: #ffffff;
        text-decoration: none;
        font-weight: bold;
      }
    }
    @media (min-width: 640px) {
    img, video {
      max-width: unset;
      height: 420px;
    }
  }
  }
</style>
